<div class="modal-header">
    <h5 class="modal-title" id="modal-title">
        <div class="panel panel-primary" style="width:100%; margin-top:5px">
              <div class="panel-heading">
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                   Asistente para validaciones de Lotes/Actas SIJAI
                    </div>
              </div>
        </div>
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <hr>
        </div>
</div>
<div class="modal-footer">
    <div style="text-align: center">
        <div class="btn-group" role="group">
           <button type="button" class="btn btn-default btn-lg" ng-click="open2()"><i class="glyphicon glyphicon-remove"></i> Cerrar</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="open2()">Validar lote <i class="glyphicon glyphicon-saved"></i></button>
        </div>
    </div>
</div>